/* CRIC brand colour */
$cric-blue: #329fad;
$cric-red: #f04e4c;
$cric-gray: #808285;

$cric-blue-dark: #236F79;
$cric-red-dark: #C03F3C;

$cric-blue-light: #84C5CD;
$cric-red-light: #F3726F;

/* Background */
$background-white: #fafafa;
$background-shadow: #cccccc;

/* Font */
$text-black: #333333;
